.search-input{
    margin: 0;
}


#custom-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    visibility: hidden;
}

#custom-scroll::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
    visibility: hidden;
}

#custom-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3f7a96;
    visibility: hidden;
}

#custom-scroll:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}

#custom-scroll:hover::-webkit-scrollbar-track{
    visibility:visible;
}

#custom-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.input-field input[type=search] {
    height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 0.8rem;
    padding-top:0.3rem;
}

#custom-scroll{
    height: 100vh;
    overflow:auto;
}

.input-field input[type=search]:focus{
    border-bottom: none ;
    background-color: #fafafa;
}

.input-field input[type=search]+.label-icon {
    -webkit-transform: none;
    transform: none;
    left: 2.2rem;
    top:0.2rem;
} 


a{
    text-decoration: none;
}

.footer {
    background-color: #F3F3F3;
    padding:15px;
    position:fixed;
    bottom:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Collapsible{
    background-color: #04a293;
    padding: 1.3rem;
    color: white;
    font-weight: 500;
    margin-bottom: 2px;
}

.networkError{
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    color: red;
}

.hasMoreButton{
    float:'right';
    background-color:'#909695';
    opacity:0.6;
}


.block {
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: auto;
    grid-column-gap: 1.5rem;
    padding: 1rem 1.5rem;
    max-width: 35rem;
  }
  .block > img {
    align-self: start;
    width: 100%;
  }
  .block > div {
    vertical-align: top;
  }
  .block h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
    font-size: 1.3rem;
  }




textarea.materialize-textarea{
    height: 14rem;
}

.row{
    margin-top: 15px;
}

.btn{
    height: 32px;
    padding: 0 2.1rem;
    line-height: 32px;
    margin-bottom: 8px;
}


.nav-wrapper {
    background-color: #04a293  !important;
    font-size: 14px;
    font-weight: bold;
  }

.card-content{
    word-wrap: break-word;
}
.card .card-title{
    font-weight: bold;
}

.card-panel{
    overflow: hidden;
}

.pre {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

 iframe{
     display: block;
     width: 100%;
     height: 200px;
 }
 .navbar-fixed {
    z-index: 999; 
 }
 .searchMargin{
     margin-top: 15px;
     padding: 2px 13px;
 }

 @media only screen and (min-width: 993px){
    nav a.button-collapse {
        display: block;
    }
    }

